{% extends '@User/layout.html.twig' %}
{% block content %}
<div class="left_content">
    <div class="title"><span class="title_icon"><img src="{{ asset('images/bullet1.gif') }}" alt="" title="" /></span>Contact Us</div>
    <div class="feat_prod_box_details">
        <div class="details">
            Opening hours: Monday to Friday from 8:00 to 17:00 <br />

            Closed: Saturday, Sunday<br /><br />
            Receiving orders: around the day<br /><br />
            Minsk Commercial Department: tel. + 375 255 341 747<br />

            For calls from Russia: + 7 343 339 40 18<br /><br />

            Viber, WhatsApp: + 375 225 121 747<br />

            Skype: Jewels24<br /><br />
            Electronic communication with the sales department: info@jewels24.com
        </div>

        <div class="contact_form">
            <div class="form_subtitle">all fields are requierd</div>
            <div class="form_row">
                <label class="contact"><strong>Name:</strong></label>
                <input type="text" class="contact_input" />
            </div>

            <div class="form_row">
                <label class="contact"><strong>Email:</strong></label>
                <input type="text" class="contact_input" />
            </div>


            <div class="form_row">
                <label class="contact"><strong>Phone:</strong></label>
                <input type="text" class="contact_input" />
            </div>

            <div class="form_row">
                <label class="contact"><strong>Company:</strong></label>
                <input type="text" class="contact_input" />
            </div>


            <div class="form_row">
                <label class="contact"><strong>Message:</strong></label>
                <textarea class="contact_textarea" ></textarea>
            </div>


            <div class="form_row">
                <a href="#" class="contact">send</a>                    </div>
        </div>

    </div>






    <div class="clear"></div>
</div><!--end of left content-->
{% endblock %}