{% extends '@Shop/layout.html.twig' %}
{% block content %}
    <div class="left_content">
        <div class="title"><span class="title_icon"><img src="images/bullet1.gif" alt="" title="" /></span>Services</div>

        <div class="feat_prod_box_details">
            <p class="details">
                <h3>Your privacy is critically important to us. At Automattic we have a few fundamental principles:</h3>
                <ul>
                    <li>We don’t ask you for personal information unless we truly need it. (We can’t stand services that ask you for things like your gender or income level for no apparent reason.)</li>
                    <li>We don’t share your personal information with anyone except to comply with the law, develop our products, or protect our rights.</li>
                    <li>We don’t store personal information on our servers unless required for the on-going operation of one of our services.</li>
                    <li>In our blogging products, we aim to make it as simple as possible for you to control what’s visible to the public, seen by search engines, kept private, and permanently deleted.</li>
            </ul>
            </p>


        </div>






        <div class="clear"></div>
    </div><!--end of left content-->
{% endblock %}