{% extends '@User/layout.html.twig' %}
{% block content %}
    <div class="left_content">
        <div class="title"><span class="title_icon"><img src="{{ asset('images/bullet1.gif') }}" alt="" title="" /></span>Services</div>

        <div class="feat_prod_box_details">
            <p class="details">
                The service provider is indispensable for service delivery as he must promptly generate and render the service to the requesting service consumer. In many cases the service delivery is executed automatically but the service provider must preparatorily assign resources and systems and actively keep up appropriate service delivery readiness and capabilities. <br /><br />
                Additionally, the service consumer is inseparable from service delivery because he is involved in it from requesting it up to consuming the rendered benefits. <br /><br />

                Examples: The service consumer must sit in the hairdresser's shop & chair or in the plane & seat; correspondingly, the hairdresser or the pilot must be in the same shop or plane, respectively, for delivering the service.
            </p>


        </div>






        <div class="clear"></div>
    </div><!--end of left content-->
{% endblock %}