shop_homepage:
    path:     /
    defaults: { _controller: ShopBundle:Shop:index }

shop_about_us:
    path:     /about
    defaults: { _controller: ShopBundle:Shop:aboutUs }

category:
    path:     /category
    defaults: { _controller: ShopBundle:Shop:category }

one_of_category:
    path:     /category/{transName}
    defaults: { _controller: ShopBundle:Shop:oneCategory }

details:
    path:     /details/{id}
    defaults: { _controller: ShopBundle:Shop:details }

special_gifts:
    path:     /special
    defaults: { _controller: ShopBundle:Shop:specialGifts }

contact_us:
    path:     /contact
    defaults: { _controller: ShopBundle:Contact:contactUs }

privacy_policy:
    path:     /privacy
    defaults: { _controller: ShopBundle:Contact:privacyPolicy }

services:
    path:     /services
    defaults: { _controller: ShopBundle:Contact:services }

cart:
    path:     /cart
    defaults: { _controller: ShopBundle:User:cart }

my_account:
    path:     /account
    defaults: { _controller: ShopBundle:User:myAccount }

user_account:
    path:     /user
    defaults: { _controller: ShopBundle:User:userAccount }

register:
    path:     /register
    defaults: { _controller: UserBundle:Registration:register }

default_security_target:
    path:     /user
    defaults: { _controller: ShopBundle:User:userAccount }

login:
    path:     /login
    defaults: { _controller: FOSUserBundle:Security:login }

logout:
    path:     /logout
    defaults: { _controller: FOSUserBundle:Security:logout }

personal_info:
    path:     /user/info
    defaults: { _controller: ShopBundle:User:infoUserAccount }

user_edit:
    path:     /user/edit
    defaults: { _controller: ShopBundle:User:userEdit }

wish_list:
    path:     /user/list
    defaults: { _controller: ShopBundle:User:userList }

add_category:
    path:     /admin/category
    defaults: { _controller: ShopBundle:User:adminAddCategory }

add_good:
    path:     /admin/good
    defaults: { _controller: ShopBundle:User:adminAddGood }

order_processing:
    path:     /admin/order
    defaults: { _controller: ShopBundle:User:adminOrderProcessing }

admin_account:
    path:     /admin
    defaults: { _controller: ShopBundle:User:userAccount }