services:
#    shop.example:
#        class: ShopBundle\Example
#        arguments: [@service_id, "plain_value", %parameter%]
  shop.event_subscriber.category_subscriber:
    class: ShopBundle\EventSubscriber\CategorySubscriber
    tags:
      - { name: doctrine.event_subscriber }
    arguments:    ['@service_container']


  shop.service.helper:
      class: ShopBundle\Service\Helper


  shop.twig.extension:
          class: ShopBundle\Twig\ShopTwigExtension
          public: false
          tags:
              - { name: twig.extension }
          arguments:    ['@doctrine.orm.default_entity_manager']