{% extends '@User/layout.html.twig' %}
{% block content %}
<div class="left_content">
    <div class="title"><span class="title_icon"><img src="{{ asset('images/bullet1.gif') }}" alt="" title="" /></span>About us</div>

    <div class="feat_prod_box_details">
        <p class="details">
            <img src="{{ asset('images/about.gif') }}" alt="" title="" class="right" />
            Our jewels - it's part of your happy stories. Jewellery designed to preserve the most precious moments of life and do amazing every day. Our inspiration - heartfelt emotions hidden in the heart. The unique vision of beauty and craftsmanship combine to create a true reflection of your feelings in our exclusive jewelery quality. <br /><br />
            Unique moments of happiness<br />
            Each ornament is filled to create our emotions. Among the many models you will find exactly the one that will be a part of your individual style and inspiration to make the world special. Products of the brand started in the largest jewelry factory in Europe, presented in more than 6000 multibrand magazinahv 18 countries.<br /><br />
            Two Cultures<br />
            Our jewels - it is a unique mix of two cultures. The company designs jewelry, combining cutting-edge Swiss technology and precision with the Russian spirit of creativity and virtuosity of execution. Work in all areas conducted by the Russian and European specialists to create jewelry of exceptional quality.<br /><br />
            Created with love<br />
            Jewelers combine modern technology and the traditional manual labor. Artists develop decoration, given global trends and personal preferences. The company's specialists kind to everyone passing through their hands jewelry, putting the soul in each decoration.
        </p>


    </div>






    <div class="clear"></div>
</div><!--end of left content-->
{% endblock %}