{% extends '@Shop/layout.html.twig' %}
{% block content %}
    <div class="left_content">
        <div class="title"><span class="title_icon"><img src="{{ asset('images/bullet1.gif') }}" alt=""
                                                         title=""/></span>My account
        </div>

        <div>
            <div class="left_menu">
                <div class="user_menu_info"><a href="{{ path('personal_info') }}">Personal info</a></div>
                <div class="user_menu_orders"><a href="#">My orders</a></div>
                <div class="user_menu_list"><a href="#">Wish list</a></div>
            </div>


            {% block user_account_content %}
            {% endblock %}


            <div class="clear"></div>
        </div>

    </div>
    <!--end of left content-->
{% endblock %}